@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    
    -webkit-tap-highlight-color:transparent;
}

:root {
    --clr: #eee;
    --main: #6040a7;
    --white: #ffffff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --black3: #5f5f5f;
    --mainhover: #35187578;
    --aa: #4240a7;
    --a: #8e5ef4;
    --ab: #654173;
    --abc: #351875;
}

body {
    display: flex;
    min-height: 100vh;
    /* background: var(--white); */
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

/* Navigation */
.navigation {
    position: fixed;
    width: 280px;
    height: 100%;
    background: var(--main);
    border-left: 10px solid var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li img {
    width: 80px;
    height: 80px;
    margin-left: -10px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo h2 {
    height: 100px;
    font-weight: 500;
    margin-top: 30px;
    padding-left: 10px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 10px;
    pointer-events: none;
}

.navigation ul li:nth-child(7) {
    position: fixed;
    bottom: 20px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--main);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .text {
   position: relative;
   display: block;
   padding: 0 10px;
   height: 60px;
   line-height: 60px;
   text-align: start;
   white-space: nowrap;
} 

/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* Main Section */
.main {
    position: absolute;
    width: calc(100% - 280px);
    left: 280px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}
 
.main-top {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    /* overflow: hidden; */
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.user img {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user span {
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 0.8rem;
}

.user ul {
    list-style: none;
}

.user ul li a:hover {
    color: var(--main);
}

.user ul li a {
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: var(--black3);
}

/* Cards */

.card-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    margin-top: 20px;
}

.card-title {
    display: flex;
    justify-content: space-between;
}

.card-title > p {
    font-size: 20px;
}

.main-cards {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.main-cards .cards {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.main-cards .cards:nth-child(1) {
    border-left: 10px solid var(--abc);
}

.main-cards .cards:nth-child(2) {
    border-left: 10px solid var(--aa);
}

.main-cards .cards:nth-child(3) {
    border-left: 10px solid var(--a);
}

.main-cards .cards:nth-child(4) {
    border-left: 10px solid var(--ab);
}

.main-cards .cards .number {
    position: relative;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--main);
}

.main-cards .cards .card-name {
    color: var(--black2);
    font-size: 0.8rem;
    margin-top: 15px;
}

.main-cards .cards .iconBx {
    font-size: 3.5rem;
    color: var(--black2);
}

.main-cards .cards:hover {
    background: var(--main);
}

.main-cards .cards:hover .number,
.main-cards .cards:hover .card-name,
.main-cards .cards:hover .iconBx {
    color: var(--white);
}

/* Chart */

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 45px;
    position: relative;
}

.charts-card {
    background: var(--white);
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    /* border: 1px solid var(--mainhover); */
    border-radius: 10px;
    box-shadow: 0 7px 35px rgba(0, 0, 0, 0.1);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--main);
}

.charts #area-chart {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
}

.charts #donut {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}


@media screen and (max-width: 1024px) {
    .navigation {
        left: -280px;
    }

    .navigation.active {
        width: 280px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 280px;
    }

    .main-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .charts {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px ){
    .attendance {
        grid-template-columns: 1fr;
    }

    .attendance-list {
        overflow-x: auto;
    }

    .attendance-list table tbody button {
        white-space: nowrap;
    }
}

@media screen and (max-width: 600px) {
    .main-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .user {
        min-width: 40px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        color: var(--white);
        position: fixed;
        left: -400px;
        left: initial;
    }

    .charts {
        display: block;
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .charts-card #area-chart {
        padding: 10px;
    }
}